<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta property="og:title" content="{{meta_title}}" />
    <meta property="og:description" content="{{meta_description}}" />
    <meta property="og:image" content="/public/images/default_profile_photo.png" />
    <meta property="og:url" content="https://example.com/products" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href="https://example.com/products/dry-fruits" />

    <link rel="stylesheet" href="../../../../public/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../../public/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../../../public/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../../../public/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="../../../../public/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../../../../public/css/custom.css">
    <link rel="shortcut icon" href="../../public/images/favicon.png" />