<tfoot>
    <tr>
      <td colspan="100%">
        <div class="justify-content-end">
            <div class="row">
                <div class="col-md-11"><small class=" float-right pull-right pt-2 text-primary">Go To Page : </small></div>
                <div class="col-md-1">
                    <select name="pages" class="form-control" id="current_page_no" onchange="getScreenData(this.value)">
                        <option value="">Go To</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
        </div>
      </td>
    </tr>
  </tfoot>