<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{metatitle}}</title>
  <meta name="description" content="{{metadescription}}">
  <link rel="stylesheet" href="../../../../public/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../../../public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../../../public/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="../../../../public/css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="../../../../public/css/custom.css">
  <link rel="shortcut icon" href="../../../../public/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../../../public/images/logo.png" alt="logo">
              </div>
              <h4>Hello! Forgot Password?</h4>
              <h6 class="font-weight-light">Please enter your email to reset your password</h6>
              <form class="pt-3" method="POST" id="forgot-password-form"
                  action="/forgot-password">
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" name="user_email" id="user_email" placeholder="Email">
                </div>
                <div class="mt-3">
                  <button type="submit" id="submit_button"
                      class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SUBMIT</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    
                  </div>
                  <a href="/login" class="auth-link text-black">Back To Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../../../public/vendors/js/vendor.bundle.base.js"></script>
  <script type="text/javascript">
  $("#forgot-password-form").submit(function(e){
    $("#login_error").html("");
    $("#submit_button").html("Please wait...");
    e.preventDefault();
    var form = $(this);
    var actionUrl = form.attr('action');
    $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(),
        success: function(data){
          $("#submit_button").html("SUBMIT");
          if(data.success == 1){
            window.location.href = '/password-token?email='+$("#user_email").val();
          } else {
            alert(data.message);
          }
        }
    });
  });
  </script>
</body>
</html>
